html {
    box-sizing: border-box;
}
div.centeredDiv {
    text-align: center;
}
div.internalDiv {
    margin: 20px;
}
img.page1logo {
    border-radius: 20%;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h1.page1title {
    text-align: center;
}